@use "../../variables" as *;

.list-group {
  border-radius: 0%;
  font-size: $fontsize-S;
  text-align: center;
  .plan-text {
    border-bottom-color: $gray_gainsboro;
    border-left: none;
    border-right: none;
    border-top: none;
    color: $white;
    h4 {
      margin: 0;
      text-align: center;
      font-size: $fontsize-L;
      font-weight: 700;
    }
  }
  .monthly-price {
    background-color: $gray_desertStorm;
  }
  .price {
    color: $orange_bistre;
    font-weight: 700;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    font-size: $fontsize-XXL;
    &:before {
      content: "¥";
      font-size: $fontsize-L;
      padding: 29px 4px 0 0;
    }
  }
  .list-group-item {
    padding: 20px 0;
    border-color: $gray_gainsboro;
  }
}
.plan-odd {
  .plan-text {
    background-color: $orange_zorba;
    padding: 20px 0;
  }
}
.plan-even {
  border: 5px solid $orange_bistre;
  .plan-text {
    background-color: $orange_bistre;
    padding: 16px 0;
  }
}
