<ul class="list-group plan">
  <li class="list-group-item list-item plan-title">プランテキスト</li>
  <li class="list-group-item list-item monthly-price">
    <div class="price">5,000</div>
    <div">月額</div>
  </li>
  <li class="list-group-item list-item">入会金0円</li>
  <li class="list-group-item list-item">平日：9時〜17時</li>
  <li class="list-group-item list-item">土日祝：利用ナシ</li>
  <li class="list-group-item list-item">コアタイムでの利用に最適なプラン</li>
</ul>
<ul class="list-group plan">
  <li class="list-group-item list-item plan-title">プランテキスト</li>
  <li class="list-group-item list-item monthly-price">
    <div class="price">5,000</div>
    <div>月額</div>
  </li>
  <li class="list-group-item list-item">入会金0円</li>
  <li class="list-group-item list-item">平日：9時〜17時</li>
  <li class="list-group-item list-item">土日祝：利用ナシ</li>
  <li class="list-group-item list-item">コアタイムでの利用に最適なプラン</li>
</ul>