@use "../../variables" as *;

.list-group {
  border-radius: 0%;
  margin: 32px 0 30px;
  .list-group-item {
    padding: 10px 20px;
    a {
      display: flex;
      &:hover {
        cursor: pointer;
        text-decoration: none;
        h4 {
          color: $orange_bistre;
        }
      }
      .article-img {
        img {
          display: none;
        }
      }
      article {
        width: 100%;
        h4 {
          color: $black;
          font-size: $fontsize-M;
          margin: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          transition: 0.5s;
          white-space: nowrap;
        }
        time {
          color: $gray_nobel;
          display: block;
          font-size: $fontsize-XS;
          margin-top: 8px;
        }
      }
    }
    @media (min-width: $breakpoint-md) {
      padding: 0;
      a {
        align-items: center;
        display: flex;
        .article-img {
          overflow: hidden;
          img {
            display: block;
            height: 140px;
            transition: 0.5s;
            &:hover {
              transform: scale(1.2);
            }
          }
        }
        article {
          padding: 0 24px;
          width: calc(100% - 221.11px);
          h4 {
            display: -webkit-box;
            overflow: hidden;
            white-space: normal;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }
        }
      }
    }
  }
}
.news-and-events-more {
  float: right;
}
