@use "../../variables" as *;

.events {
  display: flex;
  flex-direction: column;
  .news-and-events-title {
    span {
      font-weight: 400;
    }
  }
  .events-list {
    border-radius: 0;
    margin: 30px 0;
    .list-group-item {
      border-color: $gray_gainsboro;
      padding: 0;
      a {
        article {
          padding: 10px 20px;
          width: 100%;
          .article-img-wrapper {
            img {
              display: none;
              width: 221.11px;
            }
          }
          .article-contents {
            overflow: hidden;
            h4 {
              color: $black;
              font-size: $fontsize-M;
              margin: 0;
              overflow: hidden;
              text-overflow: ellipsis;
              transition: 0.5s;
              white-space: nowrap;
            }
            time {
              color: $gray_gainsboro;
              display: block;
              font-size: $fontsize-XS;
              margin-top: 8px;
            }
          }
        }
      }
      &:hover {
        a {
          cursor: pointer;
          text-decoration: none;
          article {
            .article-contents {
              h4 {
                color: $orange_bistre;
              }
            }
          }
        }
      }
      @media (min-width: $breakpoint-md) {
        a {
          &:hover {
            .article-img-wrapper {
              img {
                transform: scale(1.2);
              }
            }
          }
          article {
            align-items: center;
            display: flex;
            padding: 0;
            .article-img-wrapper {
              overflow: hidden;
              img {
                display: block;
                height: 140px;
                transition: 0.5s;
              }
            }
            .article-contents {
              padding: 0 24px;
              width: calc(100% - 221.11px);
              h4 {
                display: -webkit-box;
                overflow: hidden;
                white-space: normal;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
              }
            }
          }
        }
      }
    }
  }
  .news-and-events-more {
    margin-left: auto;
  }
}
