@use "../../variables" as *;

header {
  .header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $black;
    height: 60px;
    padding: 0 16px;
  }
  nav {
    display: flex;
    flex-direction: row;
    .navigation {
      border: none;
      display: inline-block;
      margin: 0;
      padding: 0;
      width: 100%;
      li.navigation-list {
        list-style: none;
        .text-wrapper {
          color: $white;
          font-size: $fontsize-S;
          padding: 15px 0;
        }
        .dropdown-menu {
          border: none;
          display: inline-block;
          margin: 0;
          padding: 0;
          width: 100%;
          li.dropdown-menu-list {
            background-color: red;
            .text-wrapper {
              color: $white;
              font-size: $fontsize-S;
              padding: 15px;
            }
            &:hover {
              a {
                text-decoration: none;
              }
            }
          }
        }
        &:hover {
          a {
            text-decoration: none;
          }
        }
      }
      li.concept-list {
      }
      .concept {
        align-items: center;
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .logo {
    align-items: center;
    display: flex;
    img {
      width: 120px;
    }
  }
}

a.nav-link {
  color: $white;
  display: inline-block;
  font-size: $fontsize-S;
  padding: 0;
  transition: color 0.2s ease;
}

@media (min-width: $breakpoint-lg) {
  a.nav-link {
    &:hover {
      color: $gray_nobel;
    }
  }
  .dropdown-menu {
    li.dropdown-menu-list {
      background-color: $black;
      transition: background-color 0.2s ease;
      .text-wrapper {
        padding: 18px;
      }
      &:hover {
        background-color: $orange_bistre;
        a {
          text-decoration: none;
        }
      }
    }
  }
}
