<header>
  <div class="header-top">
    <a class="logo" href="#"><img src="../../../images/logo.png" alt=""></a>
    <button><img src="../../../images/humberger-icon.svg" alt=""></button>
  </div>
  <nav>
    <ul class="navigation">
      <li class="navigation-list"><a href="#">
          <div class="text-wrapper">HOME</div>
        </a></li>
      <li class="concept navigation-list">
        <div class="text-wrapper">CONCEPT</div>
        <img src="../../../images/plus-icon.svg" alt="">
        <ul class="dropdown-menu">
          <li class="dropdown-menu-list"><a href="#">
              <div class="text-wrapper">ブログアーカイブ</div>
            </a></li>
          <li class="dropdown-menu-list"><a href="#">
              <div class="text-wrapper">お知らせアーカイブ</div>
            </a></li>
          <li class="dropdown-menu-list"><a href="#">
              <div class="text-wrapper">イベントアーカイブ</div>
            </a></li>
          <li class="dropdown-menu-list"><a href="#">
              <div class="text-wrapper">インタビューアーカイブ</div>
            </a></li>
          <li class="dropdown-menu-list"><a href="#">
              <div class="text-wrapper">FAQページ</div>
            </a></li>
          <li class="dropdown-menu-list"><a href="#">
              <div class="text-wrapper">固定ページ(デフォルト)</div>
            </a></li>
          <li class="dropdown-menu-list"><a href="#">
              <div class="text-wrapper">CONTCEPT</div>
            </a></li>
          <li class="dropdown-menu-list"><a href="#">
              <div class="text-wrapper">SERVICE</div>
            </a></li>
          <li class="dropdown-menu-list"><a href="#">
              <div class="text-wrapper">FLOOR</div>
            </a></li>
          <li class="dropdown-menu-list"><a href="#">
              <div class="text-wrapper">ACCESS</div>
            </a></li>
        </ul>
      </li>
      <li class="navigation-list"><a href="#">
          <div class="text-wrapper">SERVICE</div>
        </a></li>
      <li class="navigation-list"><a href="#">
          <div class="text-wrapper">FLOOR</div>
        </a></li>
      <li class="navigation-list"><a href="#">
          <div class="text-wrapper">INTERVIEW</div>
        </a></li>
      <li class="navigation-list"><a href="#">
          <div class="text-wrapper">BLOG</div>
        </a></li>
      <li class="navigation-list"><a href="#">
          <div class="text-wrapper">ACCESS</div>
        </a></li>
      <li class="navigation-list"><a href="#">
          <div class="text-wrapper">DOWNLOAD</div>
        </a></li>
    </ul>
  </nav>
</header>

<a class="nav-link" href="">nav-link</a>

<!--
<ul class="dropdown-menu">
  <li class="dropdown-menu-list"><a href="#">
      <div class="text-wrapper">ブログアーカイブ</div>
    </a></li>
  <li class="dropdown-menu-list"><a href="#">
      <div class="text-wrapper">お知らせアーカイブ</div>
    </a></li>
  <li class="dropdown-menu-list"><a href="#">
      <div class="text-wrapper">イベントアーカイブ</div>
    </a></li>
  <li class="dropdown-menu-list"><a href="#">
      <div class="text-wrapper">インタビューアーカイブ</div>
    </a></li>
  <li class="dropdown-menu-list"><a href="#">
      <div class="text-wrapper">FAQページ</div>
    </a></li>
  <li class="dropdown-menu-list"><a href="#">
      <div class="text-wrapper">固定ページ(デフォルト)</div>
    </a></li>
  <li class="dropdown-menu-list"><a href="#">
      <div class="text-wrapper">CONTCEPT</div>
    </a></li>
  <li class="dropdown-menu-list"><a href="#">
      <div class="text-wrapper">SERVICE</div>
    </a></li>
  <li class="dropdown-menu-list"><a href="#">
      <div class="text-wrapper">FLOOR</div>
    </a></li>
  <li class="dropdown-menu-list"><a href="#">
      <div class="text-wrapper">ACCESS</div>
    </a></li>
</ul>
-->