@use "../../variables" as *;

.list-group {
  border-radius: 0%;
  margin: 32px 0 30px;
  width: 100%;
  .list-group-item {
    padding: 20px;
    a {
      time {
        color: $gray_nobel;
        display: block;
        font-size: $fontsize-XS;
        margin-bottom: 10px;
      }
      h4 {
        color: $black;
        display: block;
        font-size: $fontsize-M;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    &:hover {
      cursor: pointer;
      a {
        text-decoration: none;
        h4 {
          color: $orange_bistre;
        }
      }
    }
  }
}
.news-and-events-more {
  float: right;
}
