<h3 class="news-and-events-title">News<span>お知らせ</span></h3>
<ul class="list-group">
  <li class="list-group-item">
    <article>
      <time>2018.06.20</time>
      <a href="#">ブックカフェ・コワーキング系サイト向けテーマ「Switch」をリリースしました。</a>
    </article>
  </li>
  <li class="list-group-item">
    <article>
      <time>2018.06.18</time>
      <a href="#">3種のレイアウトから選択できるテンプレートを固定ページに実装</a>
    </article>
  </li>
  <li class="list-group-item">
    <article>
      <time>2018.06.12</time>
      <a href="#">利用者からのご質問をまとめた「FAQ」ページをアップしました。</a>
    </article>
  </li>
  <li class="list-group-item">
    <article>
      <time>2018.06.08</time>
      <a href="#">デモ用のサンプルデータを表示する「インポート機能」でサイト構築を快適に？</a>
    </article>
  </li>
  <li class="list-group-item">
    <article>
      <time>2018.06.02</time>
      <a href="#">テーマのアップデート情報について</a>
    </article>
  </li>
</ul>
<a class="news-and-events-more" href="#">
  お知らせ一覧
  <i class="fas fa-chevron-right"></i>
</a>