<footer id="footer">
  <div class="contact">
    <img src="../../../images/logo-black.png">
    <p class="contact-text">〒532-0011　大阪市淀川区西中島6丁目8-23テスト<br>
      TEL.06-1234-5678 FAX.06-1234-5678　営業時間 / 9:00 - 22:00　定休日 / 不定休</p>
    <ul class="icons">
      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      <li><a href="#"><i class="fas fa-rss"></i></a></li>
    </ul>
  </div>
  <ul class="nav-lists">
    <li class="nav-lists"><a class="nav-link" href="#">HOME</a></li>
    <li class="nav-lists"><a class="nav-link" href="#">CONCEPT</a></li>
    <li class="nav-lists"><a class="nav-link" href="#">SERVICE</a></li>
    <li class="nav-lists"><a class="nav-link" href="#">FLOOR</a></li>
    <li class="nav-lists"><a class="nav-link" href="#">INTERVIEW</a></li>
    <li class="nav-lists"><a class="nav-link" href="#">BLOG</a></li>
    <li class="nav-lists"><a class="nav-link" href="#">ACCESS</a></li>
    <li class="nav-lists"><a class="nav-link" href="#">DOWNLOAD</a></li>
  </ul>
  <p class="footer-bottom">Copyright © WordPressテーマ「Switch(tcd063)」 All Rights Reserved.</p>
</footer>