<section class="footer" id="footer">
  <div class="contact">
    <img src="../../../images/logo-black.png">
    <p class="contact-text">〒532-0011　大阪市淀川区西中島6丁目8-23テスト<br>
      FAX.06-1234-5678　営業時間 / 9:00 - 22:00　定休日 / 不定休</p>
    <div class="icons">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fas fa-rss"></i></a>
    </div>
  </div>
  <div class="nav-list">
    <a class="nav-link" href="#">HOME</a>
    <a class="nav-link" href="#">CONCEPT</a>
    <a class="nav-link" href="#">SERVICE</a>
    <a class="nav-link" href="#">FLOOR</a>
    <a class="nav-link" href="#">INTERVIEW</a>
    <a class="nav-link" href="#">BLOG</a>
    <a class="nav-link" href="#">ACCESS</a>
    <a class="nav-link" href="#">DOWNLOAD</a>
  </div>
  <p class="footer-bottom">Copyright © WordPressテーマ「Switch(tcd063)」 All Rights Reserved.</p>
</section>