@use "../../variables" as *;

.news-and-events-title {
  align-items: center;
  color: $black;
  display: flex;
  float: left;

  h3 {
    font-family: $fontfamily-mincho;
    font-size: $fontsize-L;
  }

  h4 {
    font-size: $fontsize-M;
    padding-left: 16px;
    text-align: right;
  }

  @media (min-width: $breakpoint-lg) {
    h3 {
      font-size: $fontsize-XXL;
    }
  }
}
