@use "../../variables" as *;

.news-and-events-title {
  align-items: center;
  color: $black;
  display: flex;

  .NAEtitle {
    font-family: $fontfamily-mincho;
    font-size: $fontsize-L;

    @media (min-width: $breakpoint-lg) {
      font-size: $fontsize-XXL;
    }
  }

  .jpNAEtitle {
    font-size: $fontsize-M;
    margin-left: 16px;
  }
}
