@use "../../variables" as *;

.button {
  align-items: center;
  background-color: $black;
  color: $white;
  display: flex;
  font-size: $fontsize-S;
  height: 45px;
  justify-content: center;
  transition: background-color 0.2s ease;
  width: 180px;

  &:hover {
    background-color: $orange_bistre;
    color: $white;
  }

  @media (min-width: $breakpoint-md) {
    height: 55px;
    width: 150px;
  }
  
  @media (min-width: $breakpoint-lg) {
    height: 55px;
    width: 200px;
  }
}
