<div class="about">
  <div class="container-fluid images">
    <div class="row row-cols-2 row-cols-lg-4">
      <div class="col image-wrapper"><img class="image" src="../../../images/book-coffee.png"></div>
      <div class="col image-wrapper"><img class="image" src="../../../images/room1.png"></div>
      <div class="col image-wrapper"><img class="image" src="../../../images/reading-with-coffee.png"></div>
      <div class="col image-wrapper"><img class="image" src="../../../images/room2.png"></div>
    </div>
  </div>
  <div class="msg about-msg">
    <h2>人と人、人と本が繋がるまったく新しい快適時間。</h2>
    <p>月額プラン以外にビジター料金でのご利用も可能です。通いやすい時間や曜日に合わせてプランをお選びく
      ださい。<br>
      ご登録プランは後の変更も可能ですので、資格試験等の目標がある場合など環境の変化に合わせて柔軟に対
      応しております。WiFiも電源も標準設備しており、<br>
      時間を気にせず仕事や勉強に取り組めます。カフェでの長居は気が引けるという方にも心置きなくご利用い
      ただけます。</p>
  </div>
</div>